.form {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.formInputContainer {
    position: relative;
    margin: 0 0 20px 0;
}

.formInputContainer:last-of-type {
    margin-bottom: 40px;
}

.formLabel {
    display: inline-block;
    margin: 0 0 5px 5px;
}

.formInput {
    width: 396px;
    height: 46px;
    border-radius: 8px;
    border: none;
    background-color: #616060;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    color: #ffffff;
    padding: 0 15px;
    margin:0;
    box-sizing: border-box;
    outline: transparent solid;
    transition: box-shadow .2s;
}

.formInput:focus {
    box-shadow:3px 3px 3px #555;
}

.formInput::placeholder {
    color: #404040;
}

.formInputError {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    color: #b01313;
    position: absolute;
    bottom: -17px;
    left: 5px;
}