.auth-form {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.auth-form__input-container {
    position: relative;
    margin: 0 0 20px 0;
}

.auth-form__input-container:last-of-type {
    margin-bottom: 40px;
}

.auth-form__label {
    display: inline-block;
    margin: 0 0 5px 5px;
}

.auth-form__input {
    width: 400px;
    height: 46px;
    border-radius: 8px;
    border: none;
    background-color: #616060;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    color: #ffffff;
    padding: 0 15px;
    margin:0;
    outline: transparent solid;
    box-sizing: border-box;
    transition: box-shadow .2s;
}

.auth-form__input:focus {
    box-shadow:3px 3px 3px #555;
}

.auth-form__input::placeholder {
    color: #404040;
}

.auth-form__input__error {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    color: #b01313;
    position: absolute;
    bottom: -17px;
    left: 5px;
}

.auth-form__button{
    width: 400px;
    height: 30px;
    border-radius: 10px;
}

.auth-form__button_submit {
    
}