.form {
    width: 400px;
    display: flex;
    flex-direction: column;
    color: #474747;
    margin: 10px;
}

.form__input-container {
    position: relative;
    margin: 0 0 20px 0;
}

.form__input-container:last-of-type {
    margin-bottom: 40px;
}

.form__label {
    display: inline-block;
    margin: 0 0 5px 5px;
}

.form__input {
    width: 400px;
    height: 46px;
    border-radius: 8px;
    border: none;
    background-color: #f5f5f5;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    color: #404040;
    padding: 0 15px;
    margin:0;
    outline: transparent solid;
    box-sizing: border-box;
    transition: box-shadow .1s;
}

/* .form__input:focus {
    box-shadow:3px 3px 3px #555;
} */

.form__input::placeholder {
    color: #595959;
}

.form__input-error {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    color: #b01313;
    position: absolute;
    bottom: -17px;
    left: 5px;
}

.form__button{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    transition: opacity .3s;
    color: #474747;
    border: 2px solid #404040;
    cursor: pointer;
}

.form__button:hover {
    opacity: .7;
}