.products__table {
    width: 80%;
	border: none;
	margin-bottom: 50px;
	border-collapse: separate;  
}

.products__table-headers {
    font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #EDEDED;
	font-size: 14px;
	border-top: 1px solid #ddd;
}

.products__table thead tr th:first-child {
	border-radius: 20px 0 0 0;
}
.products__table thead tr th:last-child {
	border-radius: 0 20px 0 0;
}