.auth-links {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.auth-links__link {
    color: #000000;
    border: none;
    transition: all .5s;
    box-sizing: border-box;
}

.auth-links__link:hover{
    opacity: .7;
    transform: scale(1.05);
}

.auth-links__link_active {
    border-bottom: 1px solid #000000;
}

.auth-links__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}