.links {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.links__link {
    color: #000000;
    border: none;
    box-sizing: border-box;
}

.links__link:hover{
    transform: scale(1.05);
}

.links__link_active {
    border-bottom: 1px solid #000000;
}

.links__link_signout {
    display: inline-block;
    
}

.links__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}