.links {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: space-between;
}

.links_auth{
    justify-content: end;
}

.links__items {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.links__settings-items {
    align-items: center;
}

.links__link {
    color: #595959;
    border: none;
    box-sizing: border-box;
}

.links__link_active {
    border-bottom: 1px solid #595959;
}

.links__link_signout {
    display: inline-block;   
}
 
.links__link_img {
    height: 15px;
}

.links__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.links__image_gear {
    transition: transform .4s;
}

.links__image_gear:hover {
    transform: rotateZ(30deg);
}

.links__button {
    width: 15px;
    height: 15px;
}