.header {
    height: 60px;
    padding: 0 20px;
    background-color: transparent;
    display: flex;
    margin: 0 auto 0 auto;
    align-items: center;
    border-bottom: 2px solid #595959;
}

.header_not-logged-in {
    justify-content: space-between;
}

.header__logo{
    width: 50px;
    height: 50px;
    margin: 0;
}

.header__link {
    margin: 0 20px 0 0;
}