.products-management {
    position: relative;
    display: inline-block;
}

.products-management__button {
    display: block;   
    background-color: transparent;
    color: #474747;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.products-management__button:hover + .products-managements__list {
    display: block;
}

.products-managements__list {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    display: none;
    text-align: center;
}

.products-managements__list:hover {
    display: block;
}
  
.products-management__list-item:hover {
    background-color: #f0f0f0;
}

.products-management__link {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    color: #474747;
    font-size: 14px;
    line-height: 100%;
}
